* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: url(./images/shelf-bg.jpg);
    padding: 0 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.global {
    display: inline-block;
    background-color: #fff;
    width: 1145px;
    height: 2530px;
    margin-left: 90px;
}
.first {
    background: url(./images/header-01.jpg) no-repeat scroll center / cover;
    height: 600px;
    padding: 60px 80px;
    position: relative;
    border-bottom: 10px solid #076599;
}
h1  {
    font-size: 50px;
    color: white;
    text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
    line-height: 1.4;
    margin-bottom: 8px;
    font-weight: 500;
}
span {
    color: white;
    text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
    line-height: 1.4;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 22px;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    bottom: 59px;
    height: 49px;
}
li {
    display: inline-block;
    text-align: center;
    width: 205px;
    height: 44px;
    padding: 8px 0px 0px;
    margin-right: 20px;
}
.nav-item {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
}
.nav-item:hover {
     color: #9AC9F7;
}
.second {
    padding: 75px 50px 70px;
}
h2 {
    color: #6C6C6C;
    margin-bottom: 19px;
    line-height: 1.4;
    font-size: 32px;
    font-weight: 400;
}
p {
    line-height: 1.8;
    color: #333;
}
.slider {
    padding-top: 60px;
    padding-bottom: 35px;
    margin: 0 auto;
}
.style {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.style img {
    width: 100%;
}
.caption {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}
.caption:hover {
    color: #186e9d;
}
#special {
    padding-right: 0;
}
.third {
    padding: 50px 100px;
    background-color: #076599;
    color: white;

}
.padding {
    padding: 50px;
}
.third {
    height: 240px;
}
.special {
    color: #fff;
}
.special-second {
    max-width: 640px;
    color: #fff;
    margin-bottom: 25px;
}
.unique {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    display: inline-block;
    background-color: transparent;
}
.text {
    display: inline-block;
}
.icon {
    display: inline-block;
    padding: 20px 50px 0 0;
    vertical-align: top;
}
.fa-meetup::before{
    content: "\f2e0";
    font-size: 108px;
}
footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 1116px;
    margin-left: 89px;
    height: 30px;
    text-align: center;
}